<div class="project-info-header">
    <div class="project-header-top">
        <h3 class="project-title">{{ project.title or 'Untitled Project' }}</h3>
        <div class="Production Company">{{ project.productionCompany or 'Production Commpany' }}</div>
        <div class="version-badge">{{ project.version or 'V1.0' }}</div>
    </div>
    <div class="project-meta">
        <div class="meta-group">
            <div class="meta-label">Director</div>
            <div class="meta-value">{{ project.director or 'N/A' }}</div>
        </div>
        <div class="meta-group">
            <div class="meta-label">Producer</div>
            <div class="meta-value">{{ project.producer or 'N/A' }}</div>
        </div>
        <div class="meta-group">
            <div class="meta-label">Line Producer</div>
            <div class="meta-value">{{ project.lineProducer or 'N/A' }}</div>
        </div>
        <div class="meta-group">
            <div class="meta-label">Second AD</div>
            <div class="meta-value">{{ project.secondAD or 'N/A' }}</div>
        </div>
        <div class="meta-group">
            <div class="meta-label">First AD</div>
            <div class="meta-value">{{ project.firstAD or 'N/A' }}</div>
        </div>
    </div>


    <div class="project-meta">
        <div class="meta-group">
            <div class="meta-label">Shoot Start</div>
            <div class="meta-value">{{ project.shootStartDate or 'N/A' }}</div>
        </div>
        <div class="meta-group">
            <div class="meta-label">Wrap Date</div>
            <div class="meta-value">{{ project.wrapDate or 'N/A' }}</div>
        </div>
        <div class="meta-group">
            <div class="meta-label">Last Updated</div>
            <div class="meta-value">{{ project.updated.split('T')[0] if project.updated else 'N/A' }}</div>
        </div>
    </div>

    {% if project.scriptTitle %}
    <div class="script-info">
        <div class="script-item">
            <div class="script-label">Script:</div>
            <div class="script-value">{{ project.scriptTitle }}</div>
        </div>
        {% if project.scriptEpisode %}
        <div class="script-item">
            <div class="script-label">Episode:</div>
            <div class="script-value">{{ project.scriptEpisode }}</div>
        </div>
        {% endif %}
        {% if project.scriptColor %}
        <div class="script-item">
            <div class="script-label">Color:</div>
            <div class="script-value">
                <span class="script-color-badge" style="background-color:
                    {% if project.scriptColor == 'White' %}#ffffff
                    {% elif project.scriptColor == 'Blue' %}#add8e6
                    {% elif project.scriptColor == 'Pink' %}#ffb6c1
                    {% elif project.scriptColor == 'Yellow' %}#ffff99
                    {% elif project.scriptColor == 'Green' %}#90ee90
                    {% elif project.scriptColor == 'Goldenrod' %}#daa520
                    {% elif project.scriptColor == 'Buff' %}#f0dc82
                    {% elif project.scriptColor == 'Salmon' %}#fa8072
                    {% elif project.scriptColor == 'Cherry' %}#de3163
                    {% elif project.scriptColor == '2nd Blue' %}#00bfff
                    {% elif project.scriptColor == '2nd Pink' %}#ff69b4
                    {% elif project.scriptColor == '2nd Yellow' %}#ffeb3b
                    {% elif project.scriptColor == '2nd Green' %}#32cd32
                    {% elif project.scriptColor == '2nd Goldenrod' %}#b8860b
                    {% elif project.scriptColor == '2nd Buff' %}#e6be8a
                    {% elif project.scriptColor == '2nd Salmon' %}#e9967a
                    {% elif project.scriptColor == '2nd Cherry' %}#c71585
                    {% else %}#ffffff{% endif %};
                    color: {% if project.scriptColor in ["White", "Yellow", "Buff", "2nd Yellow", "2nd Buff"] %}#000000
                    {% else %}#ffffff{% endif %};">
                    {{ project.scriptColor }}
                </span>
            </div>
        </div>
        {% endif %}
        {% if project.scriptDated %}
        <div class="script-item">
            <div class="script-label">Dated:</div>
            <div class="script-value">{{ project.scriptDated }}</div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
